@tailwind base;
@tailwind components;
@tailwind utilities;
#Exchange.active,
#languages.active {
    display: block;
}

#mobileMnu {
    left: -444px;
}

#mobileMnu::-webkit-scrollbar {
    @apply bg-violet-600 w-1
}

#mobileMnu.active {
    left: 0;
}

.banner {
    background-image: url('assets/img/Rectangle 6326.png');
    height: 529px;
}
.shadow-1{
    box-shadow: 0px 31px 40px -10px #001B4E17;
}
#rightMenu {
    right: -400px;
}

#rightMenu.open {
    right: 0;
}

#menuMobile {
    max-height: 0;
    transition: all .4s;
    padding: 0;
    overflow: hidden;
}

#menuMobile.active {
    max-height: 990px;
    padding: 20px;
}

@media only screen and (max-width: 1024px) {
    .dropdown {
        max-height: 0;
    }
    .dropdown.open {
        max-height: 2000px;
    }
}